* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #eee;
}

.header {
    text-align: center;
    padding: 25px;    
}

.banner img {
    width: 100%;
    /* background: url('../img/selected/30.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */

}

.container {
    background: #fff;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
}

.column img {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    transition: transform 1s;
}

@media (max-width: 758px) {
    .column {
        flex: 50%;
    }
}

@media (max-width: 558px) {
    .column {
        flex: 50%;
    }
}

.column img:hover {
    transform: scale(1.1);
}

footer {
    background: #272727;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
    font-size: 1.4rem;
    color: #fff;
    padding: 10px;
}

footer .disclaimer {
    background: #333;
    color: #888;
    padding: 5px 3px;
}

footer .disclaimer a {
    text-decoration: none;
    color: #bbb;
}

footer .copyright-info a {
    text-decoration: none;
    color: #D35800;
}

footer .copyright-info a:hover {
    text-decoration: underline;
    color: #00FFFF;
}
